@use "../lib/Highlight" as hl;
@use "../lib/Scheme" as cm;

//
@layer u2-color-base {
    @media screen {
        //
        body, :root, :scope,
        :where(*[data-scheme]),
        :host(*[data-scheme])
        {
            --tm-adapt   : color-mix(in oklch, var(--tm-cr, currentColor) calc(100% * var(--tm-chroma, 0)), var(--tm-ac, currentColor));
            --tm-bg-base : color-mix(in oklch, var(--tm-cr, currentColor) calc(100% * var(--tm-chroma, 0)), var(--tm-ac, currentColor));//var(--tm-adapt, currentColor);
            --tm-bg-color: oklch(from var(--tm-bg-base, transparent) l c h / var(--tm-bg-alpha, 0));
        }

        //
        :host, :scope, :root, *::selection, *::before, *::after, *::selection, :where(*), :host ::slotted(*)
        {
            //
            & {
                --rv-bg-color: color-mix(in oklch, var(--tm-shade, black) calc(var(--hl-co, 0) * 1%), var(--tm-bg-color, white));
                --rv-color   : var(--tm-color, black);

                // achromatic
                --tm-ac-dark : oklch(from var(--tm-origin, currentColor) 0.01 0.01 h);
                --tm-ac-light: oklch(from var(--tm-origin, currentColor) 0.99 0.01 h);
    
                // colorful
                --tm-cr-dark : oklch(from var(--tm-origin, currentColor) min(min(calc(1.0 - l), l), 0.4) min(c, 0.8) h);
                --tm-cr-light: oklch(from var(--tm-origin, currentColor) max(max(calc(1.0 - l), l), 0.6) min(c, 0.8) h);
            };

            //
            & { // components
                // for light themes
                --tm-l-lo: color-mix(in oklch, var(--tm-ac-dark)  90%, var(--tm-cr, currentColor));
                --tm-l-hi: color-mix(in oklch, var(--tm-ac-light) 98%, var(--tm-cr, currentColor));
                
                // for dark themes
                --tm-d-lo: color-mix(in oklch, var(--tm-ac-light) 90%, var(--tm-cr, currentColor));
                --tm-d-hi: color-mix(in oklch, var(--tm-ac-dark)  98%, var(--tm-cr, currentColor));
            };
            
            //
            & {
                @include cm.bg-dep;
                @include hl.hl-col;
            };
        }
    };
};
