//
@use "sass:string";
@use "sass:meta";

//
@use "./LogicFb" as flg;
@use "./LogicSign" as slg;

//
$upMod: var(--theme-up-mod);
$downMod: var(--theme-down-mod);
$chromaMod: var(--theme-chroma-mod);
$baseColor: var(--theme-accent-color, currentColor);

//
@function inv-mul($a, $b) {
    @return "calc(1.0 - calc(1.0 - #{$a}) * #{$b})";
}

//
@function theme-mod-up($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $upMod);
}

//
@function theme-mod-down($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $downMod);
}

//
@function theme-mod-chroma($base, $percent) {
    @return color-mix(in oklch, $base calc(100% - $percent), $chromaMod);
}

//
$surfaceColor: theme-mod-up(#{$baseColor}, 96%);
$glyphColor: theme-mod-down(#{$baseColor}, 98%);
$accentColor: theme-mod-down(#{$baseColor}, 92%);
$chromaColor: theme-mod-chroma(#{$baseColor}, 80%);

//
@mixin theme-dependent($property, $light, $dark, $fb: var(--theme-is-dark)) {
    & { #{$property}: color-mix(in oklch, #{$light} calc(100% * #{var(--theme-is-dark)}), #{$dark}); }

    //
    @supports(color: light-dark(white, black)) {
        #{$property}: light-dark(#{$light}, #{$dark});
    }
}

//
@mixin theme-dependent-components() {
    & {
        --theme-dark-down-mod: color-mix(in oklch, var(--theme-white-mod) 90%, #{$baseColor});
        --theme-dark-up-mod: color-mix(in oklch, var(--theme-black-mod) 98%, #{$baseColor});

        //
        --theme-light-down-mod: color-mix(in oklch, var(--theme-black-mod) 90%, #{$baseColor});
        --theme-light-up-mod: color-mix(in oklch, var(--theme-white-mod) 98%, #{$baseColor});
    }

    //
    @include theme-dependent("--theme-up-mod", "var(--theme-light-up-mod)", "var(--theme-dark-up-mod)");
    @include theme-dependent("--theme-down-mod", "var(--theme-light-down-mod)", "var(--theme-dark-down-mod)");
}



//
@mixin contrast($name, $from, $alpha: 1) {
    //#{$name}: string.unquote("oklch(from #{$from} calc(#{slg.sign(calc(l - 0.6))} * 0.8 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})");
    //@supports     (opacity: sign(0.5)) { #{$name}: string.unquote("oklch(from #{$from} calc(#{slg.sign(calc(l - 0.6))} * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); }
    //@supports not (opacity: sign(0.5)) { #{$name}: string.unquote("oklch(from #{$from} calc(#{flg.sign(calc(l - 0.6))} * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); }

    & { #{$name}: string.unquote("oklch(from #{$from} calc( clamp(-1, calc((l - 0.6) * 100000), 1) * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); };
}

//
@mixin contrast-inverse($name, $from, $alpha: 1) {
    //#{$name}: string.unquote("oklch(from #{$from} calc(#{slg.sign(calc(0.6 - l))} * 0.8 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})");
    //@supports     (opacity: sign(0.5)) { #{$name}: string.unquote("oklch(from #{$from} calc(#{slg.sign(calc(0.6 - l))} * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); }
    //@supports not (opacity: sign(0.5)) { #{$name}: string.unquote("oklch(from #{$from} calc(#{flg.sign(calc(0.6 - l))} * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); }

    & { #{$name}: string.unquote("oklch(from #{$from} calc( clamp(-1, calc((0.6 - l) * 10000), 1) * 0.9 * 0.5 + 0.5) calc(c * 0.4) h / #{$alpha})"); };
}

//
@mixin attr-based(
    $selector: "&",
    $property,
    $attr,
    $type: "number",
    $logic: null,
    $default: 1,
    $test: "opacity"
) {
    @property --#{$attr}-attr { initial-value: #{$default}; inherits: true; syntax: "<#{$type}>"; };
    @supports (#{$test}: attr(#{$attr} #{$type}, #{$default})) {
        #{$selector} { --#{$attr}-attr: attr(#{$attr} #{$type}, #{$default}); };
    };

    //
    #{$selector} {
        $value: var(--#{$attr}-attr, #{$default});
        #{$property}: #{ if($logic != null, meta.call($logic, $value), $value) };
    };
}

//
@mixin hover ($selector: "&") {
    //
    @media screen and ((hover: hover) or (pointer: fine)) {
        #{$selector}:hover {
            & { @content; };
        }
    }

    //
    @media screen and ((hover: none) and (pointer: coarse)) {
        #{$selector}:action {
            & { @content; };
        }
    }
}
